body  {
    background: url("../images/index-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: flex;           
    flex-direction: column; 
    margin: 0;
    border-radius: 20px;
}

.notification {
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: green;
    color: white; 
    padding: 20px;
    border-radius: 20px; 
    z-index: 2000;
    width: 80%;
    max-width: 400px;
    text-align: center;
}


.post-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.back-button-container {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background: #C4E4F3;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: -20px -20px;
    z-index: 100;
    border-radius: 20px 20px 0px 0px;
}

.more-options-button {
    
    border: none;
    background: #C4E4F3;
}

.back-button {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.modify-options-container {
    position: absolute;
    top: 65px;
    right: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    flex: none;
    width: 100px;
}

.option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    border: none;
    background-color: transparent; 
    background: none; 
    cursor: pointer;
    margin: 5px 0; /* Add space between buttons */
    padding: 5px;  
}
.option-button:hover {
    background-color: rgba(205, 204, 204, 0.648);
    border-radius: 3px;
    transform: translateX(3%); 
}
.back-button:hover {
    transform: scale(1.05);
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.user-avatar {
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
}

.user-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-title {
    margin-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}

.post-date{
    margin: 30px 10px;
    color: #888;
    font-size: small;

}

.scrollable-content {
    padding-bottom: 80px; /* Space for the action buttons */
}

.post-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}

.post-content img{
    display: block;
    position: relative;
    width: auto;
    max-width: 100%;
    max-height: 400px;
    margin: 10px auto;
}

.image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-image {
    display: block;
    position: relative;
    width: auto;
    max-width: 100%;
    max-height: 400px;
    margin-top: 20px;
}


#comments-container .comment {
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.comment-avatar {
    position: relative;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #000;
    overflow: hidden;
}
.comment-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-body {
    flex-grow: 1;
    margin: 5px 10px 0 30px;
    display: flex;
    flex-direction: column;
    min-height: 60px;
    max-width: calc(100% - 80px);
}
.comment-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-user-name {
    font-weight: bold;
    font-size: 18px;
}

.comment-time{
    margin: 0 10px;
    color: #888;
    font-size: 14px;
}

.comment-text {
    flex-grow: 1;
    margin-top: 5px;
    font-size: 16px;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

#comment-form {
    /* position: sticky; */
    position:absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    width: 100%; 
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    justify-content: center;
    height: auto;
    width: 100%;
}

.comment-form-actions {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    padding-right: 20px; /* Adjust as needed for space on the right */
    gap: 10px; /* Space between buttons */
}


#comment-input {
    overflow-y: hidden;
    font-family: inherit;
    resize: none;
    width: 96%;
    border: none;
    outline: none; 
    align-items: center;
    font-family: inherit;
    background-color: transparent;
    border-bottom: 1px solid #000;
}


.post-actions {
    /* position: sticky; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 0; /* Only top and bottom padding */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 0 0;
    border-radius: 0px 0px 20px 20px;
}

.action {
    flex: 1;
    background: none;
    border: none;
    padding: 6px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action .material-symbols-outlined {
    margin-right: 5px; /* Adjust the space between the icon and the text */
}

#like-count {
    display: inline-block; 
    margin-left: 8px; 
}

.action:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 1px;
    background-color: #000;
}


.action:hover {
    background-color: #e9e9e9;
}

#comment-form-container {
    margin-top: 20px;
}

#comment-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    z-index: 200;
    background-color: rgba(254, 254, 254, 0.9);
    padding: 20px;
    border: 1px solid #888;
    margin: 8% auto auto auto;
    flex-direction: column;
    width: 50%;
    border-radius: 15px;
    height: auto;
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin: 0px 10px 10px 10px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#shareText {
    width: 100%;
    margin-top: 15px;
  }
  
#confirmShare {
    margin-top: 10px;
    float: right;
}

.title-input {
    width: 100%;
    height: 36px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    font-family: inherit;
    font-size: 20px
}


#contentInput {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    resize: none;
    border: none;
    font-family: inherit;
    font-size: 16px;
    
}

#titleInput:focus,
#contentInput:focus,
#visibility:focus {
    /* no border when focus on  */
    border: none;
    outline-color: #2fcccc;
}


 /* the container that include upload image, visibility select and btns */
.submit-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* .submit-container .left {
    width: 50%;
    margin-right: auto; 
    align-items: center;
} */

.submit-container .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-left: auto;
    margin-right: 20px;
}
.right > * {
    margin-right: 10px; 
}

.upload-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    text-align: center;
    margin: auto 20px;
    
    justify-content: center;
    align-items: center;
}

.upload-icon:hover {
    cursor: pointer;
    background-color: rgba(202, 202, 202, 0.6); 
}

.upload-icon ion-icon {
    color: #2fcccc; 
    font-size: 20px; 
    position: relative;
    top: 10px;
}

#visibility {
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
}


#newPostForm {
    width: 100%;
    height: auto;
}

.preview-contaienr {
    margin: 10px 0;
    height: auto;
}

.preview-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.preview-wrapper:hover {
    transform: scale(1.05);
}

.image-preview {
    width: auto; 
    max-width: 150px;
    height: auto;
    max-height: 150px;
}
.image-preview:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 5px;
    background-color: transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.delete-btn ion-icon {
    color: rgb(255, 0, 0);
    font-size: 28px;
    background-color: #fff;
    border-radius: 50%;
  }

.delete-btn ion-icon:hover {
    border-radius: 50%;
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    color: rgb(255, 89, 89);
}
