body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    background-image: url("../../static/images/login-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.message-container {
    width: 100%;
    max-width: 400px;
    margin: 6% auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.message {
    margin-top: 0;
    color: #333;
    font-size: medium;
}

@media (max-width: 768px) {
    .signup-container {
        margin-top: 20%;
    }
}