{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/postListContent.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/newPostModal.css' %}">

</head>

<body>
    {% include 'navbar.html' %}
    
    {% include 'postListContent.html' %}
        
    {% if user.is_authenticated %}
    <button id="floating-button">+</button>
    {% endif %}
    
    {% include 'newPostModal.html' %}
    

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/posting.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
</body>

</html>